/* Custom properties */
:root {
    --clr-primary-400: hsl(150, 100%, 66%);
    --clr-primary-300: hsl(193, 38%, 86%);

    --clr-neutral-900: hsl(218, 23%, 16%);
    --clr-neutral-800: hsl(217, 19%, 24%);
    --clr-neutral-700: hsl(217, 19%, 38%);

    --ff-primary: "Manrope", sans-serif;;

    --ff-body: var(--ff-primary);

    --fw-bold: 800;

    --fs-200: 0.6875rem;
    --fs-300: 0.8125rem;
    --fs-500: 1.5rem;
    --fs-600: 1.75rem;

    --fs-heading: var(--fs-200);
    --fs-quote: var(--fs-500);
}

@media (min-width: 50em) {
    :root {
        --fs-heading: var(--fs-300);
        --fs-quote: var(--fs-600);
    }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Utility classes */
.text-primary-400 {
    color: var(--clr-primary-400);
}

.text-primary-300 {
    color: var(--clr-primary-300);
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}

.bg-neutral-800 {
    background-color: var(--clr-neutral-800);
}

.bg-neutral-700 {
    background-color: var(--clr-neutral-700);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-heading {
    font-size: var(--fs-heading);
}

.fs-quote {
    font-size: var(--fs-quote);
}

/* Main Styles */
body {
    padding: 32% 1rem;
}

.container {
    border-radius: 10px;
    font-family: var(--ff-primary);
    text-align: center;
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

h1 {
    letter-spacing: 3.46px;
}

button {
    width: 64px;
    border-radius: 50%;
    background-color: var(--clr-primary-400);
    border: none;
    position: absolute;
    left: 41%;
    top: 89%;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 30px var(--clr-primary-400);
}

.dice {
    padding: 20px;
}

.divider {
    padding-bottom: 30px;
}